[Unit]
Description=This is the service for the iot bridge to azure
After=multi-user.target
 
[Service]
Type=simple
ExecStart=/usr/bin/python3 /home/pi/smsEagle-iot-hub-handler.py
Restart=on-abort
 
[Install]
WantedBy=multi-user.target