[Unit]
Description=This is the service for the iot bridge to azure
Wants=network-online.target
After=network.target network-online.target
Requires=network-online.target


[Service]
Type=simple
Restart=always
RestartSec=10
ExecStartPre=/bin/bash /home/pi/nyssIotBridgeBoot.sh
ExecStart=/usr/bin/python3 /home/pi/smsEagle-iot-hub-handler.py

[Install]
WantedBy=multi-user.target